@import "../../../../styles/styleVariable";

.modal-online-game {
  min-width: 430px;

  @media all and (max-width: 470px) {
    min-width: 310px;
  }

  @media all and (max-width: 320px) {
    min-width: 300px;
  }

  &__title {
    h2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__error-message {
    color: $red;
  }

  &__room-id-info-block {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 38px;
    color: $sanMarino;
  }

  &__content {
    overflow-y: initial !important;
  }
}
