@import "../../../styles/styleVariable";

.cell {
  width: 150px;
  height: 150px;
  background: $black;
  cursor: pointer;

  &--0 {
    border-right: $cellBorder;
    border-bottom: $cellBorder;
  }

  &--1 {
    border-bottom: $cellBorder;
  }

  &--2 {
    border-left: $cellBorder;
    border-bottom: $cellBorder;
  }

  &--3 {
    border-right: $cellBorder;
  }

  &--5 {
    border-left: $cellBorder;
  }

  &--6 {
    border-right: $cellBorder;
    border-top: $cellBorder;
  }

  &--7 {
    border-top: $cellBorder;
  }

  &--8 {
    border-top: $cellBorder;
    border-left: $cellBorder;
  }
}
