.game {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

  &__board-wrapper {
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media all and (max-width: 450px) {
      width: 300px;
    }
  }
}
