.game {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

  &__main-block {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;

    @media all and (max-width: 620px) {
      width: 450px;
    }

    @media all and (max-width: 470px) {
      width: 300px;
    }
  }
}
